<header class="header">
    <div class="container">
        <div class="nav-bar">
            <div class="nav-menu">
                <a href="#" class="nav-menu-link">
                    Menu
                </a>
            </div>
            <div class="logo">
                <div class="name">
                    CODIGOLOGIA
                </div>
                <app-logo></app-logo>
            </div>
            <div class="user-menu">
                <a href="#">
                    Invitado
                </a>
            </div>
        </div>
    </div>
</header>