<footer>
    <div class="footer-menu">
        <ul class="category-menu">
            <li>
                <a routerLink="categoria/fuego">Fuego</a>
            </li>
            <li>
                <a routerLink="categoria/agua">Agua</a>
            </li>
            <li>
                <a routerLink="categoria/eter">Eter</a>
            </li>
            <li>
                <a routerLink="categoria/tierra">Tierra</a>
            </li>
            <li>
                <a routerLink="categoria/aire">Aire</a>
            </li>
        </ul>
    </div>
</footer>