<footer>
    <div class="container">
        <div class="footer-menu">
            <ul class="category-menu">
                <li>
                    <a routerLink="blog/categoria/fuego" href="javascript:;">Fuego</a>
                </li>
                <li>
                    <a routerLink="blog/categoria/agua" href="javascript:;">Agua</a>
                </li>
                <li>
                    <a routerLink="blog/categoria/eter" href="javascript:;">Eter</a>
                </li>
                <li>
                    <a routerLink="blog/categoria/tierra" href="javascript:;">Tierra</a>
                </li>
                <li>
                    <a routerLink="blog/categoria/aire" href="javascript:;">Aire</a>
                </li>
            </ul>
        </div>
    </div>
</footer>