<div class="page">
    <div class="container">
        <main>
            <div class="project">

                <div class="gallery">
                    <div class="column">
                        <video autoplay loop muted>
                            <source src="https://raw.githubusercontent.com/codesectarian/codigologia-blog/refs/heads/main/portfolio/yaqua/yaqua.webm" type="video/webm">
                        </video>
                    </div>
                </div>

                <div class="hexagon">
                    <div class="hexagon-content">
                        <div class="content">
                            <h1>
                                Yaqua
                            </h1>
                            <p>
                                Campaña de Agua Yaqua para promover la conversación y alcance orgánico en la red social Twitter.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="info">
                    <p>
                        <b>
                            Tecnologías:
                        </b>
                        Codeigniter, Bootstrap, SVG, HTML, CSS, Twitter
                    </p>
                    <p>
                        <b>
                            Año:
                        </b>
                        2017
                    </p>
                    <p>
                        <b>
                            Agencia:
                        </b> 
                        McCann Perú
                    </p>
                    <p>
                        <b>
                            Cliente:
                        </b>
                        Yaqua
                    </p>
                </div>

            </div>
        </main>
    </div>
</div>