<div class="page">
    <div class="container">
        <main>
            <div class="project">

                <div class="gallery">
                    <div class="column">
                        <video autoplay>
                            <source src="https://raw.githubusercontent.com/codesectarian/codigologia-blog/refs/heads/main/portfolio/guarana/guaratraductor.mov" type="video/mp4">
                        </video>
                    </div>
                </div>

                <div class="hexagon">
                    <div class="hexagon-content">
                        <div class="content">
                            <h1>
                                Guarana Traductor
                            </h1>
                            <p>
                                Pagina de llegada donde se hizo un traductor con cifrado Cesar, la campaña 
                                genero interacción por redes sociales.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="info">
                    <p>
                        <b>
                            Tecnologías:
                        </b>
                        Codeigniter, PHP, MySql, HTML, CSS
                    </p>
                    <p>
                        <b>
                            Año:
                        </b>
                        2015
                    </p>
                    <p>
                        <b>
                            Agencia:
                        </b> 
                        Houdini
                    </p>
                    <p>
                        <b>
                            Cliente:
                        </b>
                        Guaraná Backus
                    </p>
                </div>

            </div>
        </main>
    </div>
</div>