<div id="draw" #draw (window:resize)="onResize($event)">
    <app-line 
    [xMousePosition]="xMousePosition" 
    [yMousePosition]="yMousePosition"
    [screenWidth]="screenWidth"
    [screenHeight]="screenHeight"
    [topOffSet]="topOffSet"
    [isMoving]="isMoving"

    [isHomeRoute]="isHomeRoute" 
    ></app-line>
    <app-symbol 
    [xMousePosition]="xMousePosition" 
    [yMousePosition]="yMousePosition"
    [screenWidth]="screenWidth"
    [screenHeight]="screenHeight"
    [topOffSet]="topOffSet"
    [isMoving]="isMoving"

    [isHomeRoute]="isHomeRoute" 
    ></app-symbol>
</div>