<div class="frame" [class.small-logo]="!isHomeRoute">
    <svg
        width="120"
        height="120"
        viewBox="0 0 40.7 40.7"
        version="1.1"
        id="symbol"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg"
        >
        <defs
        id="defs621" />

        <g id="group-logo"
        transform="translate(-1227.4049,-407.65187)">

            <g
            id="frame">
                <circle _ngcontent-ng-c2629879912="" 
                id="path30395-27-3-3-6-7" cx="1247.75" cy="428" r="20" 
                style="fill: #fff; stroke-width: 0.573133; stroke-dasharray: none; stop-color: #000000;">
                </circle>
                
                <path
                style="fill:none;stroke:#000000;stroke-width:0.573133;stroke-dasharray:none;stop-color:#000000" 
                d="m 1242.957,412.86212 4.805,-4.80499 4.6426,4.64254"
                id="path34443-4-9" />
                <path
                style="fill:none;stroke:#000000;stroke-width:0.573133;stroke-dasharray:none;stop-color:#000000" 
                d="m 1263.0468,423.34195 4.667,4.66695 -4.6426,4.64255"
                id="path34445-7-7" />
                <path
                style="fill:none;stroke:#000000;stroke-width:0.573133;stroke-dasharray:none;stop-color:#000000" 
                d="m 1252.4574,443.26531 -4.6954,4.7002 -4.7401,-4.74014"
                id="path34447-4-8" />
                <path
                style="fill:none;stroke:#000000;stroke-width:0.573133;stroke-dasharray:none;stop-color:#000000" 
                d="m 1232.4289,432.62762 -4.6187,-4.61871 4.7426,-4.74253"
                id="path34449-4-5" />
            </g>
            
            <g
            id="group-letter-d"
            transform="matrix(0.04332331,0,0,0.04332331,1104.1432,405.82737)">

                <path class="highlight" d="M 3080 920 a 2,2 0 0,0 0,-360" fill="blue"></path>

                <circle
                    style="fill:none;stroke:#000000;stroke-width:13.2292;stroke-dasharray:none;stop-color:#000000"
                    id="path30395-27-0-6-9-0"
                    cx="3084.7812"
                    cy="740.06946"
                    r="172.55147" 
                    fill="#fff"/>

                <path
                    style="fill:none;stroke:#000000;stroke-width:13.2292;stroke-dasharray:none;stop-color:#000000"
                    d="M 3084.781,567.51799 V 912.62087"
                    id="path31011-2-7-4" />
                    
            </g>
    
            <g
            id="group-letter-e"
            transform="matrix(0.04332331,0,0,0.04332331,1104.1432,405.82737)">
                <path class="highlight" fill="red" stroke="#ff0000" stroke-width="3" d="M 3550 565 a 1 1 0 0 0 0 350 Z"></path>
                
                <circle
                    style="fill:none;stroke:#000000;stroke-width:13.2292;stroke-dasharray:none;stop-color:#000000"
                    id="path30395-27-3-2-1-3-7"
                    cx="3545.3132"
                    cy="740.06946"
                    r="172.55147" 
                    fill="#fff"/>

                
                <path
                    style="fill:none;stroke:#000000;stroke-width:13.2292;stroke-dasharray:none;stop-color:#000000"
                    d="M 3545.3132,569.71468 V 914.81755"
                    id="path31011-1-9-4-6" />
            </g>
    
            <path 
            id="connection-d-e"
            style="fill:none;stroke:#000000;stroke-width:0.56013;stroke-dasharray:none;stop-color:#000000"
            d="m 1237.7861,437.9848 h 19.9518" />
    
            <g class="group-letter-c">
    
                <path
                id="letter-c"
                style="fill:none;stroke:#000000;stroke-width:0.573133;stroke-dasharray:none;stop-color:#000000"
                d="m 1237.7957,410.46234 a 7.4755004,7.4755004 0 0 0 -7.4753,7.47556 7.4755004,7.4755004 0 0 0 7.4753,7.47556 7.4755004,7.4755004 0 0 0 6.6294,-4.032 5.9002026,5.9002026 0 0 1 -4.7861,2.45648 5.9002026,5.9002026 0 0 1 -5.9003,-5.90004 5.9002026,5.9002026 0 0 1 5.9003,-5.9003 5.9002026,5.9002026 0 0 1 4.7934,2.46092 7.4755004,7.4755004 0 0 0 -6.6367,-4.03618 z" />
            </g>
            
            <g id="group-letter-o">
                <circle
                style="fill:none;stroke:#000000;stroke-width:0.573133;stroke-dasharray:none;stop-color:#000000"
                id="path30395-27-3-3-6-7"
                cx="1257.7379"
                cy="417.93781"
                r="7.4754996" />
                <circle
                style="fill:#000000;stroke:none;stroke-width:0.573133;stroke-dasharray:none;stop-color:#000000"
                id="path31446-4-5-5"
                cx="1257.7379"
                cy="417.93781"
                r="0.47275123" />
            </g>
    
        </g>
    </svg>
</div>