svg {
    position: absolute;
    left:50%;
    top:0;
    bottom: 0;
    margin-top: 60px;
    margin-left: -60px;
    z-index: 9;
    transition: width 0.25s, margin 0.25s;
}
.frame.small-logo svg {
    width: 80px;
    margin-left: -40px;
    transition: width 0.25s, margin 0.25s;
}


.frame {
    display: flex;
}
/*
#group-letter-d .highlight {
    opacity: 0;
}
#group-letter-d:hover .highlight {
    opacity: 1;
}

#group-letter-e .highlight {
    opacity: 0;
}
#group-letter-e:hover .highlight {
    opacity: 1;
}
*/