<div class="page">
    <div class="container">
        <main>
            <h1>
                ¿Codigología?
            </h1>
            <h3>
                Logos
            </h3>
            <p>
                Logos es la Inteligencia que dirige, ordena y da armonía al 
                devenir de los cambios que se producen en la guerra que genera la existencia misma. 
                <br>
                Heráclito
            </p>
            <h3>
                El problema
            </h3>
            <p>
                Alli está... cayendo como una gota más al vaso, un concepto más de los 
                que los programadores estamos acostumbrados...
                y no es casualidad o anecdótico querer sumarlo a la cantidad de los tantos términos, siglas o abstracciones,
                que nos ayudan a tener una mayor capacidad de analisis y orden para el trabajo.
            </p>
            <p>
                Recopilar terminos y conceptos es un método que muchos programadores solemos usar  
                para luego incluso resolver problemas, y mediante avanzamos incluso los problemas de nuestra vida, 
                aún sabiendo que podría devenir a la perdida de intuición y sensibilidad, 
                y que como resultado final nos acerca a una vida parametrisada que nos puede dar la fría perspectiva de un 
                algoritmo, y que en la mayoría razonable de veces sirve muy bien, pero en temas sensibles
                y humanos es el causante de muchisimas crisis y problemas mentales.
            </p>
            <h1>
                Entonces...
            </h1>
            <p>
                Es necesario encontrar maneras de que el humor, lo poetico, lo filosofico 
                e incluso lo espiritual, cruzen con lo que estamos más cercanos... el codigo y la tecnología 
                para proporcionar herramientas que nos acerquen a lo que llamaremos "la verdadera belleza", 
                que nos hace darnos cuenta de lo equivocado que estamos como
                cuando solo podemos ver "resultados cuantificables" o sentir el "placer inmediato", 
            </p>
            <h2>
                Misión
            </h2>
            <p>
                El blog tiene la misión contracultural de calar en el inconsciente y ayudar a tener 
                visión sobre el, para reencontrarnos con esa belleza nueva 
                que nos ofrece una nueva forma de ver pues como diria el personaje de uno de mis libros favoritos. 
            </p>
            <p>
                "solo con el corazón se puede ver bien; lo esencial es invisible a los ojos" 
                <br>
                -el principito.
            </p>
        </main>
    </div>
</div>
