<div class="page">
    <div class="container">
        <main>
            <h1 class="main-title">
                ¿Codigología?
            </h1>
            <p class="quotation">
                <q class="phrase">
                    Logos es la Inteligencia que dirige, ordena y da armonía al 
                    devenir de los cambios que se producen en la guerra que genera la existencia misma. 
                </q>
                <br>
                <span class="author">
                    Heráclito
                </span>
            </p>
            <h2>
                El problema
            </h2>
            <p>
                Alli está... cayendo como una gota más... si, la que revalsó al vaso, un concepto más de los 
                que los programadores estamos acostumbrados...
                y verán pronto que no es solo casualidad querer sumarlo a la cantidad de los tantos términos, 
                siglas y abstracciones
                que nos ayudan a tener una mayor capacidad de analisis y orden para nuestro trabajo.
            </p>
            <p>
                Recopilar términos y conceptos es uno de los métodos que los programadores solemos usar  
                para estar preparados y poder resolver cualquier problema futuro, estamos tan acostumbrados a los métodos
                que incluso inconcientemente aplicamos muchos de ellos en temas personales y humanos,
                a pesar de que podría devenir a la perdida de intuición y sensibilidad, 
                y como resultado, nos acercamos a una vida parametrisada que nos puede hacer tomar la vida
                con la fría perspectiva de un 
                algoritmo, y que en la mayoría de veces donde se necesita la razón y la lógica nos servirá, 
                pero para la conducción de nuestra vida puede ser el causante de muchisimas crisis.
            </p>
            <h2>
                Entonces...
            </h2>
            <p>
                Es necesario encontrar maneras de que el humor, lo poetico, lo filosofico 
                e incluso lo espiritual, profundicen con lo que encontramos más cercanos... el código y la tecnología 
                para proporcionarnos herramientas que nos acerquen a lo que llamaremos "la verdadera belleza", y nos 
                alerten cuando necesitemos tomar decisiones que requieran más que logica y razón, es decir, de darnos cuenta 
                a tiempo de lo equivocado que estamos
                cuando solo podemos ver "resultados cuantificables" o sentir el "placer inmediato".
            </p>
            <h2>
                Misión
            </h2>
            <p>
                Este blog tiene la misión contracultural de calar en el inconsciente mental humano y ayudar a tener 
                visión sobre este, para reencontrarnos con esa belleza nueva 
                que nos ofrece una forma de ver más allá, cito entonces lo que uno de mis personajes favoritos diría. 
            </p>
            <p class="quotation">
                <q class="phrase">
                    solo con el corazón se puede ver bien; lo esencial es invisible a los ojos.
                </q>
                <br>
                <span class="author">
                    El zorro del principito.
                </span>
                <br>
            </p>
        </main>
    </div>
</div>
