<div class="page">
    <div class="container">
        <main>
            <h1 class="main-title">
                ¿Codigología?
            </h1>
            <p class="quotation">
                <q class="phrase">
                    Logos es la Inteligencia que dirige, ordena y da armonía al 
                    devenir de los cambios que se producen en la guerra que genera la existencia misma. 
                </q>
                <br>
                <span class="author">
                    Heráclito
                </span>
            </p>
            <h2>
                El problema
            </h2>
            <p>
                Alli está... cayendo como una gota más... si, la que revalsó al vaso, un concepto más de los 
                que los programadores estamos acostumbrados...
                y no es casualidad querer sumarlo a la cantidad de términos, 
                siglas y abstracciones que nos ayudan a tener mayor capacidad y orden para nuestro trabajo.
            </p>
            <p>
                Recopilar términos y conceptos es uno de los muchos métodos que los programadores solemos usar,  
                estamos tan acostumbrados a los métodos que incluso inconcientemente aplicamos muchos de ellos 
                en temas humanos, a pesar de que podría devenir a la perdida de intuición y sensibilidad, 
                y como resultado, nos olvidamos, reprimimos una parte de nosotros y nos acercamos a una vida 
                parametrisada que nos puede hacer tomar la vida con la fría perspectiva de un algoritmo, una vida
                fría de vivir.
            </p>
            <!--h2>
                Entonces...
            </h2>
            <p>
                Es necesario retomar y revindicar el arte, lo poetico, lo filosofico 
                e incluso lo espiritual, y acercarlos al código y la logica para lograr lo que llamaremos la 
                comprensión del "idioma del alma", que nos prepará cuando necesitemos tomar decisiones que requieran más allá 
                de la logica y la razón.
            </p-->
            <h2>
                Misión
            </h2>
            <p>
                Este blog busca videnciar aquello que nuestro entorno ha programado 
                en nuestra mente, y lo que somos en esencia.
                es decir, buscaremos revelar nuestro lado inconsciente.
            </p>
            <p class="ending">
                <b>
                    finalizo entonces citando a uno de mis personajes favoritos. 
                </b>
            </p>
            <p class="quotation">
                <q class="phrase">
                    solo con el corazón se puede ver bien; lo esencial es invisible a los ojos.
                </q>
                <br>
                <span class="author">
                    El zorro del principito.
                </span>
                <br>
            </p>
        </main>
    </div>
</div>
