.page {
    margin-top: 80px;
}
.blog {
    justify-content: space-between; 
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
    row-gap: 1rem;
}
.post {
    max-width: 100%;
    width: 100%;
}
.mat-mdc-card.mdc-card.outline {
    border-radius: 0;
    border: 1px solid #000;
}



@media (min-width: 580px) {
    .post {
        width:calc((100% - 1rem) / 2);
    }
}
@media (min-width: 824px) {
    .post {
        width:calc((100% - 2rem) / 3);
    }
}
@media (min-width: 1024px) {
    .post {
        width:calc((100% - 3rem) / 4);
    }
}