.mat-mdc-card.mdc-card.outline {
    border-radius: 0;
    border: 1px solid #000;
}
.blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .8em;
}
.blog mat-card {
    max-width: 300px;
    min-width: 270px;
    flex: 0 0 25%;
}
.mat-mdc-card-avatar {
    border: 1px solid #000;
}

svg image {
    pointer-events: none;
}

.linkable {
    color: #333;
    cursor: pointer;
    transition: all 250ms;
}
.linkable:hover {
    color: green;
    transition: all 250ms;
    filter: contrast(125%);
}

mat-card-title {
    margin-bottom: .5rem;
    word-break: break-word;
}

mat-card-subtitle {
    margin-bottom: 1rem;
    display: flex;
    .author {
        padding: 1px 9px 0;
        border-radius: 6px;
        color: white;
        background: green;
    }
}

.svg-image svg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
}
.svg-image {
    overflow: hidden;
}

svg #c {
    transition: transform 0.25s;
    transform: scale(2);
}
svg:hover #c {
    transition: transform 0.25s;
    transform: scale(1);
}


@media (min-width: 580px) {
    .post {
        width:calc((100% - 1rem) / 2);
    }
}
@media (min-width: 824px) {
    .post {
        width:calc((100% - 2rem) / 3);
    }
}
@media (min-width: 1024px) {
    .post {
        width:calc((100% - 3rem) / 4);
    }
}