<div class="page">
    <div class="container">
        <div class="blog">
            <div class="post">
                <mat-card class="outline" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title class="mat-card-title">
                            Conoce tu personalidad según tu distro
                        </mat-card-title>
                        <mat-card-subtitle class="mat-card-subtitle">
                            Linux   
                        </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Descubre tu personalidad según el sistema operativo que 
                            prefieres o que usas con más frecuencia
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-chip-set aria-label="Fish selection">
                            <mat-chip>Tecnología</mat-chip>
                            <mat-chip>Psicología</mat-chip>
                            <mat-chip>Linux</mat-chip>
                            <mat-chip>Distros</mat-chip>
                            <mat-chip>Arquetipos</mat-chip>
                            <mat-chip>Humor</mat-chip>
                        </mat-chip-set>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="post">
                <mat-card class="outline" appearance="outlined">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog 
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-chip-set aria-label="Fish selection">
                            <mat-chip>Tecnología</mat-chip>
                            <mat-chip>Psicología</mat-chip>
                            <mat-chip>Linux</mat-chip>
                            <mat-chip>Distros</mat-chip>
                            <mat-chip>Arquetipos</mat-chip>
                            <mat-chip>Humor</mat-chip>
                        </mat-chip-set>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="post">
                <mat-card class="outline" appearance="outlined">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="post">
                <mat-card class="outline" appearance="outlined">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="post">
                <mat-card class="outline" appearance="outlined">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog 
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="post">
                <mat-card class="outline" appearance="outlined">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="post">
                <mat-card class="outline" appearance="outlined">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>   
    </div>
</div>