<div class="page">
    <div class="container">
        <main>
            <div class="project">

                <div class="gallery">
                    <div class="column">
                        <video autoplay>
                            <source src="https://raw.githubusercontent.com/codesectarian/codigologia-blog/refs/heads/main/portfolio/negociador/elnegociador.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>

                <div class="hexagon">
                    <div class="hexagon-content">
                        <div class="content">
                            <h1>
                                El Negociador
                            </h1>
                            <p>
                                Pagina de facebook con temática futbolera para compartir memes.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="info">
                    <p>
                        <b>
                            Tecnologías:
                        </b>
                        HTML, CSS, Fb pages
                    </p>
                    <p>
                        <b>
                            Año:
                        </b>
                        2014
                    </p>
                    <p>
                        <b>
                            Agencia:
                        </b> 
                        Houdini
                    </p>
                    <p>
                        <b>
                            Cliente:
                        </b>
                        Cristal
                    </p>
                </div>

            </div>
        </main>
    </div>
</div>