/* You can add global styles to this file, and also import other style files */

$dark-theme: false !default;
$link-color: #000000;

@if $dark-theme {
    $link-color: #ffffff;
}

body{
    padding: 0;
    margin: 0;
    a {
        text-decoration: none;
        color: $link-color;
    }
}

.container {
    max-width: 1240px;
    padding: 0 18px;
    margin: 0 auto;
}
.small-container {
    max-width: 820px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

markdown h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

markdown img {
    max-width: 100%;
    width: 100%;
}
