/* You can add global styles to this file, and also import other style files */

$dark-theme: false !default;
$link-color: #000000;

@if $dark-theme {
    $link-color: #ffffff;
}

body{
    padding: 0;
    margin: 0;
    a {
        text-decoration: none;
        color: $link-color;
    }
}

.container {
    max-width: 1240px;
    padding: 0 18px;
    margin: 0 auto;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body .mat-drawer-container {
    color: #111;
}