<div class="menu-title">
    <h1>
        Navegemos
    </h1>
</div>
<div class="menu-content">
    <ul>
        <li>
            <a href="/" class="menu-content-link">
                Inicio
            </a>
        </li>
        <li>
            <a href="/acerca" class="menu-content-link">
                Acerca de
            </a>
        </li>
        <li>
            <a href="/blog" class="menu-content-link">
                Blog
            </a>
        </li>
        <li>
            <a href="/portafolio" class="menu-content-link">
                Portafolio
            </a>
        </li>
        <li>
            <a href="/contacto" class="menu-content-link">
                Contacto
            </a>
        </li>
    </ul>
</div>