<div class="menu-title">
    <h1>
        Navegemos
    </h1>
</div>
<div class="menu-content">
    <ul>
        <li>
            <a routerLink="/" href="#" class="menu-content-link">
                Inicio
            </a>
        </li>
        <li>
            <a routerLink="/acerca" class="menu-content-link">
                Acerca de
            </a>
        </li>
        <li>
            <a routerLink="/blog" class="menu-content-link">
                Blog
            </a>
        </li>
        <li>
            <a routerLink="/portafolio" class="menu-content-link">
                Portafolio
            </a>
        </li>
        <li>
            <a routerLink="/contacto" class="menu-content-link">
                Contacto
            </a>
        </li>
    </ul>
</div>