<div class="menu-title">
    <h1>
        Menú
    </h1>
</div>
<div class="menu-content">
    <ul class="menu-list">
        <li>
            <a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" href="#" class="menu-content-link">
                Inicio
            </a>
        </li>
        <li>
            <a routerLink="/acerca" routerLinkActive="active" class="menu-content-link">
                Acerca
            </a>
        </li>
        <li>
            <a routerLink="/blog" routerLinkActive="active" class="menu-content-link">
                Blog
            </a>
        </li>
        <li>
            <a routerLink="/portafolio" routerLinkActive="active" class="menu-content-link">
                Portafolio
            </a>
        </li>
        <li>
            <a routerLink="/contacto" routerLinkActive="active" class="menu-content-link">
                Contacto
            </a>
        </li>
    </ul>
</div>